<h1
    style="
        Margin: 0;
        font-family:
        'Montserrat', Verdana, sans-serif, Arial, Helvetica !important;
        margin: 0;
        font-weight: 700;
        font-size: 18px;
    "><slot /></h1>