<p style="
    Margin: 0;
    font-family: 'Montserrat', Verdana, sans-serif, Arial, Helvetica !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0,0,0,.8)
"><slot /></p>