---
import Button from "../components/Button.astro";
import H2 from "../components/Typography/H2.astro";
---

<tr>
    <td style="padding: 20px 20px 20px 20px; background-color: rgba(182, 184, 207, 0.68);">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
                <td style="padding: 12px 24px 12px 24px;" class="mobile-col-padding">
                    <h2 style="font-family: 'Montserrat', Verdana, sans-serif, Arial, Helvetica !important; margin: 0; font-weight: 500; font-size: 16px; line-height: 157%; color: #000000; text-align: center;">Вопросы и ответы</h2>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 24px 24px 24px;" class="mobile-col-padding">
                    <p style="font-family: 'Montserrat', Verdana, sans-serif, Arial, Helvetica !important; margin: 0; font-weight: 400; font-size: 14px; line-height: 157%; color: #000000">Мы подготовили для вас перечень часто задаваемых вопросов. Очень вероятно, что ваш вопрос входит в этот перечень и вы сможете найти нужный вам ответ.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <Button href="https://myphotopages.ru/common-faq">Посмотреть FAQ</Button>            
                </td>
            </tr>
            
        </table>                    
    </td>
</tr>