---
import ImageMail from "./ImageMail.astro";
import Space from "./Space.astro";
import Link from "./Typography/Link.astro";
import P from "./Typography/P.astro";
---

<!-- FOOTER SECTION -->
<tr>
    <td bgcolor="#D9D9D9" style="background-color: #D9D9D9">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <Space size="30" />
            <tr>
                <td align="center">
                    <a href="https://myphotopages.ru" rel="noopener">
                        <img width="150" src="https://static.wow2print.com/storage/445/content/image/201339433966c326c75739c6.75708913.png" alt="МоиФотоСтраницы. Печатаем фотоистории.">
                    </a>
                </td>
            </tr>
            <Space size="10" />
            <tr>
                <td align="center">
                    <table>
                        <tr>
                            <td>
                                <a href="https://vk.com/myphotopages" rel="noopener">
                                    <ImageMail
                                        width="32"
                                        height="32"
                                        src="https://static.wow2print.com/storage/445/content/image/137395179266c5daadc346b7.19822194.png"
                                        alt="Вконтакте"
                                    />
                                </a>
                            </td>
                            <td width="10">&nbsp;</td>
                            <td>
                                <a href="https://t.me/myphotopagestg" rel="noopener">
                                    <ImageMail
                                        width="32"
                                        height="32"
                                        src="https://static.wow2print.com/storage/445/content/image/27033829666c5daae540d51.94292314.png"
                                        alt="Телеграм"
                                    />
                                </a>
                            </td>
                            <td width="10">&nbsp;</td>
                            <td>
                                <a href="https://dzen.ru/myphotopages" rel="noopener">
                                    <ImageMail
                                        width="32"
                                        height="32"
                                        src="https://static.wow2print.com/storage/445/content/image/180095308566c5d536358b19.74565140.png"
                                        alt="Дзен"
                                    />
                                </a>
                            </td>
                        </tr>
                    </table>       
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <Space size="20" />
                    </table>
                </td>
            </tr>
            
            <tr>
                <td align="center">
                    <table align="center">
                        <tr>
                            <td align="center">
                                <P size="12px"><a href="https://yandex.ru/maps/-/CDsErQjH" style="text-decoration:none; inherit!important; color: #000000" rel="noopener"><span style="font-size: inherit; color: #000000!important;">Москва ул. Зорге, д.15, корп. 1</span></a></P>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <P size="12px">Поддержка проекта:  ежедн. 10:00 - 22:00 МСК</P>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <P size="12px">Шоурум и самовывоз:  пн-пт. 10:00 - 19:00 МСК</P>
                            </td>
                        </tr>
                    </table>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <Space size="20" />
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center">
                        <tr>
                            <td align="center">
                                <P size="12px">
                                    <Link
                                        href="mailto:support@myphotopages.ru"
                                        underline={false}
                                        color={false}
                                    >support@myphotopages.ru</Link>     
                                </P>
                                
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <P size="12px">
                                    <Link
                                        href="tel:88007750861"
                                        underline={false}
                                        color={false}
                                    >8 (800) 775 0861</Link>
                                </P>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <Space size="20" />
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td width="10"></td>
                            <td><hr style="Margin: 0; border-top: 1px solid rgba(0,0,0,0.3); border-bottom: 0px;"></td>
                            <td width="10"></td>
                        </tr>
                    </table>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <Space size="20" />
                    </table>
                </td>
            </tr>
            <tr>
                <table align="center">
                    <tr>
                        <td align="center">
                            <P size="12px">С 2011, ООО «АртСервис-Дизайн»</P>
                        </td>
                    </tr>
                </table>
            </tr>
            <tr>
                <td width="100%">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <Space bgColor="#D9D9D9" size="20" />
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>